body { background-image: url("background.png"); padding: 0; margin: 0; font-family: Verdana, sans-serif; background-color: #ffffff; text-align: center; }

#wrap { width: 45em; margin-left: auto; margin-right: auto; text-align: left; border-left: 1px solid #000000; border-right: 1px solid #000000; }

#header { font-size: 300%; color: #eeeeee; background-color: #527DFF; padding: 1.6em 0.3em 0.4em 0.3em; border-bottom: 1px solid #000000; }
#headerimg { float: right; }
#headertext { padding-top: 1.5em; }

#body { }

/*nav*/
#nav { }
#nav ul { float: left; width: 100%; margin: 0; padding: 0; list-style-type: none; border-bottom: 1px solid #000000; }

#nav ul a { float: left; width: 100px; padding: 0.2em 0.3em; padding-left: 1em; border-right: 1px solid #000000; text-decoration: none; }
#nav ul li { display: inline; list-style-image: none; padding: 0; margin: 0; }

#nav a:hover { background-color: #ffffff; }

#main { padding: 1em;line-height: 1.4em; }

p { margin: 0; margin-bottom: 1.2em; }
p.bottom { margin-bottom: 0; }

h2 { font-size: 110%; margin: 0; margin-bottom: 0.2em; }
h3 { font-size: 104%; margin: 0; margin-bottom: 0.2em; }

.scoretable { padding: 0px; margin: 0px; border: 1px dotted #000000; border-collapse: collapse; /*font-size: small;*/ }
.scoretable td { padding: 0.2em 0.3em; margin: 0px; border: 1px dotted #000000; background-image: url(scoretabletd.png); }
.scoretable .td2 { text-align: right; }
.scoretable thead { font-weight: bold; background-color: #efe28f; }
.scoretable thead td { background-image: none; }

.footer { background-color: #ffffaa; padding: 3px; }